*, *::before, *::after{ 
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 16px;
}

.container-products {
    display: block;
    margin-right: 1rem;
}

.products__title {
    text-align: center;
    color: #633;
    font-weight: bold;
    font-size: 35px;
    font-family: 'Dancing Script', cursive;
}

.products {
    margin: .5rem;
}

.products__img {
    height: 315px;
    object-fit: cover;
}


.products__link {
    position: relative;
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
    margin: .5rem;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.product__titles {
    width:80%;
    position: absolute;
    text-align: center;
    color: #fff;
    font-size: 3rem;
    font-family: 'Dancing Script', cursive;
    text-shadow: .2rem .2rem .8rem #990, .2rem .2rem .8rem #990, .2rem .2rem .8rem #990, .2rem .2rem .8rem #990, .2rem .2rem .8rem #990, .2rem .2rem .8rem #990;
    /* z-index: 100; */
}

/*Estilos para tablet*/

@media screen and (min-width:768px) {
    .products__title{
        font-size: 39px;
    }
    .products{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap:15px;
    }
    .products__img {
        height: 300px;
    }

    .product__titles{
        font-size: 25px;
        font-weight: bold;

    }

}

/*Estilos para web*/
@media screen and (min-width:1024px) {
    .products{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap:15px;
    }

    .products__title{
        font-size: 45px;
    }
    .products__img {
        height: 500px;
    }

    .product__titles{
        font-size: 48px;
        font-weight: bold;

    }

}