*, *::before, *::after{ 
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 16px;
}

.container-slider {
    margin: 5rem 0;
    position: relative;
    overflow: hidden;

}

.slider {
    display: flex;
    width: 400%;
    height: 25rem;
    margin-left: -100%;
    position: relative;

}


.slider__section {
    width: 100%;
    position: relative
}

.slider__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.slider__content {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;

}

.slider__title {
    font-size: 4rem;
    margin: 0;
    font-weight: bold;
    color: #fff;
    text-shadow: 2px 2px 8px #000, 2px 2px 8px #000, 2px 2px 8px #000, 2px 2px 8px #000, 2px 2px 8px #000;

}

.slider__txt {
    margin: .5rem 0;
    font-size: 2.5rem;
    font-weight: bold;
    letter-spacing: .1rem;
    text-shadow: 2px 2px 8px #000, 2px 2px 8px #000, 2px 2px 8px #000;
}

.slider__link {
    display: block;
    border: .1rem solid #990;
    padding: .2rem 0;
    text-align: center;
    text-decoration: none;
    font-size: .9rem;
    color: #fff;
    letter-spacing: .1rem;
    width: 11.5rem;
    margin: 2rem auto;
    background-color: rgb(3, 3, 3, 0.5);

}

.slider__link:hover {
    background: #990;

}

.slider__btn {
    position: absolute;
    width: 3rem;
    height: 3rem;
    top: 50%;
    transform: translateY(-50%);
    font-size: 3.5rem;
    font-weight: bold;
    font-family: monospace;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    color: #990;
}

.slider__btn--left {
    left: 1rem;
}

.slider__btn--right {
    right: 1rem;
}

/*slaiderpost*/

.slider-post{
    display: flex;
    width: 400%;
    margin-left: -100%;
    position: relative;
}

.slider__img-post{
    width: 100%;
    
}

.slider__section-post {
    width: 100%;
    position: relative;
    padding: 2.5rem;
}

.slider__btn--left-post {
    left: .2rem;
    font-size: 2rem;
     
}

.slider__btn--right-post {
    right: .2rem;  
    font-size: 2rem;
}



/*Estilos para tablet*/

@media screen and (min-width:768px) {
    .slider {
        height: 40rem;
    }

    .slider__title {
        font-size: 6rem;
    }

    .slider__txt {
        font-size: 4rem;
    }

    .slider__link {
        font-size: 2rem;
        color: #fff;
        font-weight: bold;
        letter-spacing: .1rem;
        width: 14.8rem;
        padding:.3rem;
    }

    .slider__section-post {
        width: 100%;
        padding: 0 20rem;
        position: relative
    }

    .slider__btn--left-post {
        position: absolute;
        left: 1rem;
        font-size: 5rem;
    }

    .slider__btn--right-post {
        position: absolute;
        font-size: 5rem;
    }
}

/*Estilos para web*/

@media screen and (min-width:1024px) {
    .slider__title {
        font-size: 6rem;
    }

    .slider__txt {
        font-size: 3remem;
    }

    .slider__link {
        font-size: 2.3rem;
        color: #fff;
        letter-spacing: .1rem;
        width: 18rem;
    }

    /*Slider Post*/
    .container-slider{
        margin-top: 12rem;
    }
    .slider__section-post {
        width: 100%;
        margin: 1.5rem 10rem 2rem 10rem;
        position: relative
        
    }

    .slider__img-post {
        margin-top: 5rem;
    }

    .slider__btn--left-post {
        top: 40rem;
        left: 12rem;
        font-size: 5rem;
    }

    .slider__btn--right-post {
        top: 40rem;
        right: 12rem;
        font-size: 5rem;
    }
}