*, *::before, *::after{ 
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 16px;
}

body {
    margin: 0;
    font-family: 'Newsreader', serif;
}

/*----------Global clases----------*/
    .flex-row{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

/*---------------Estilos header------------*/
header {
    margin: 1.5rem 1.7rem;
}

img {
    display: block;
    width: 100%;
}

.main-header__title {
    font-family: 'Yesteryear', cursive;
    text-align: center;
    font-size: 6rem;
    margin: auto;
    background: -webkit-linear-gradient(#996, #000);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main-header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*-------X--------Estilos header-----X-------*/

/*--------------menu responsiv----------------*/
.icon-menu {
    font-size: 2.5rem;
    display: block;
    padding: 1rem 2rem;
    align-items: center;
    cursor: pointer;
}



.main-header__btn {
    display: block;
    width: 27%;
    padding: .5rem;
    color: #454546;
    border: .1rem solid #454546;
    text-decoration: none;
    font-size: 1.3rem;
    text-align: center;
}

.main-header__input {
    width: 49%;
    height: 2.8rem;
    display: block;
    padding: .5rem;
    font-size: .9em;
    text-align: center;
}


.main {
    padding: 0 2rem;
}
/*-------x-------menu responsiv--------x--------*/

/*Estilos del menú*/

.main-nav {
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
    z-index: 100;
}

.menu {
    position: absolute;
    top: 11.5rem;
    left: 0;
    background: rgba(255, 255, 255, 0.9);
    width: 100%;
    list-style: none;
    padding: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    z-index: 200;
}

.menu__item {
    padding: 1rem;
    text-align: center;
    margin: auto;
    width: 100%;
    outline:none;
   
}

.menu__link {
    color: #633;
    font-weight: bold;
    font-size: 2.4rem;
    text-decoration: none;
    position: relative;
    display: block;
    transition: all 0.9s;
    outline:none;
    font-family: 'Dancing Script', cursive;
    
}

.menu__link:hover {
    background: rgba(150, 160, 15, 0.5);
}

.mostrar {
    opacity: 1;
    visibility: visible;
}

.submenu {
    list-style: none;
    height: 0;
    overflow: hidden;
    transition: all 0.5s;
}

.submenu .menu__link {
    color: #990;
}

.submenu .menu__link:hover {
    background: rgba(102, 51, 51, 0.5);
    color: #fff;
}




/*Estilos de new productos*/

.container-new-products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5rem;
}
.title{
    margin: 4rem;
    font-weight: bold;
    font-size: 3.7rem;
    text-align: center;
    margin-bottom: 1.5rem;
    color: #633;
    font-family: 'Dancing Script', cursive;
}
.new-product{
    border: 1px solid #990;
    padding: .5rem;
    text-align: center;
    height: 29rem;
    position: relative;
}

.new:before {
    content: "Nuevo";
    background: #fd0;
    padding: .5rem 0;
    width: 6rem;
    font-weight: bold;
    position: absolute;
    top: .5rem;
    right: .7rem;
    /* font-family: 'Dancing Script', cursive; */
    font-size: 2rem;
}

.new-product__img {
    width: 100%;
    height: 18.5rem;
    object-fit: cover;
}

.new-product__title {
    text-align: center;
    font-size: 1.7rem;
    color: #633;
    min-height: 4.5rem;
}

.new-product__price {
    color: #f66;
    margin-bottom: 0;
    font-weight: bold;

}


.new-product__icon {
    display: block;
    cursor: pointer;
}

/*imagenes con hover*/

.container-editor {
    margin-top: 5rem;
}

.editor__item {
    height: 20rem;
    position: relative;
    overflow: hidden;
}

.editor__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.editor__circle {
    width: 16rem;
    height: 17rem;
    border: 2px solid #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -20rem;
    right: -1.5rem;
    font-size: 2rem;
    font-weight: bold;
    padding: 50;
    padding-bottom: 4rem;
    transition: all 0.5s;
    text-shadow: .2rem .2rem .8rem #fff, .2rem .2rem 8rem #fff;

}

.editor__item:hover .editor__circle {
    transform: scale(1.2);
    bottom: -5rem;
}

.editor__item:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.2);
    opacity: 1;
    transition: all 0.5s;
}

.editor__item:hover:before {
    opacity: 0;
}

/*Footer*/

.main-footer {
    margin: 5rem 2rem 2rem 2rem;
    border: 1px solid #990;
}

.footer__section {
    padding: 1.5rem .9rem 2rem .9rem;

}

.footer__title {
    font-size: 3.5rem;
    text-align: center;
    color:  #633;
    font-family: 'Dancing Script', cursive;
}

.footer__txt {
    font-size: 1.9rem;
    color: #999900;
    margin: 1rem 0;
}

.footer__txt-link {
    text-decoration: none;
    color: #999900;
}
.contact{
    margin: 2rem;
    font-weight: bold;
}

/*Estilos para tablet*/

@media screen and (min-width:768px) {

    .menu__link {
        font-size: 2.5rem;
    }

    .main-header__container {
        justify-content: space-evenly;
        position: relative;
    }

    .main-header__title {
        font-size: 8rem;
        text-align: center;
        margin: auto;
    }

    .main-header__btn {
        width: 12%
    }
     .fa-search{
        position: absolute;
        right: 4.5rem;
        
    }

    
/*New products*/

    .container-new-products {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1.5rem;
    }

    .title{
        font-size: 4.6rem;
        color: #633;
    }

    .new-product {
        height: 30rem;
        
    }

    .new-product__img {
        width: 100%;
        height: 19.8rem;
    }

    .new-product__title {
        text-align: center;
        font-size: 1.9rem;
    }

    .new-product__price {
        margin-bottom: 5px;
        font-size: 1.8rem;

    }

    .product-new:before{
        padding: .8rem 0;
        width: 6rem;
        font-size: 2rem;
        top: .5rem;
        right: .7rem;
    }

    /*Imágenes hover*/

    .editor__item {
        height: 30rem;
    }

    .editor__circle {
        width: 19.8rem;
        height: 20rem;
        border: .3rem solid #fff;
        font-size: 2.5rem;
        font-weight: bold;
    }

    .main-footer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1.5rem;
    }

    .footer__title{
        font-size: 3.5rem;
    }

    .footer__txt{
        font-size: 2.3rem;
    }

}



/*Estilos para web*/
@media screen and (min-width:1024px) {
    /*Estilos header*/

    .main-header__title {
        font-size: 14rem;
        text-align: center;
        margin: auto;
    }

    .main-header__container {
        position: relative;
        justify-content: space-evenly;
    }

    .main-header__btn {
        width: 12%;
        height: 3rem;
        font-size: 1.8rem;
        font-weight: bold;
        letter-spacing: .1rem;

    }

    .fa-search{
        position: absolute;
        right: 12rem;
        
    }

    .main-header__input {
        width: 40%;
        height: 3rem;
        font-size: 1.8rem;
        font-weight: bold;
        letter-spacing: .1rem;
    }
    
    /*Estilos nav*/
    .icon-menu {
        display: none;
    }

    .main-nav {
        visibility: visible;
        opacity: 1;
    }

    .menu {
        position: static;
        width: 100%;
        display: flex;
        font-size: 2rem;
    }

    .menu__link {
        font-size: 3.9rem;
        background: rgba(255, 255, 255, 0.9);
    }

    .container-submenu {
        position: relative;
        background: rgba(255, 255, 255, 0.9);
    }

    .submenu {
        position: absolute;
        overflow: visible;
        z-index: 300;
        opacity: 0;
        visibility: hidden;
    }

    .container-submenu:hover .submenu {
        opacity: 1;
        visibility: visible;

    }

    
    /*New Products*/
    .container-new-products {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 1.5rem;
    }

    .title{
        font-size: 5.7rem;
        color: #633;
    }

    .new-product {
        height: 39rem;
        
    }

    .new-product__img {
        width: 100%;
        height: 25rem;
        object-fit: cover;
    }

    .new-product__title {
        text-align: center;
        font-size: 2.4rem;
        margin-top: 1rem;
    }

    .new-product__price {
        font-size: 2.3rem;

    }

    .new-product__icon {
        padding-top: 2rem;
    }

    .editor__item {
        height: 40rem;
    }

    .editor__item:hover .editor__circle {
        transform: scale(1.7);
        bottom: -5rem;
    }

    .product-new:before{
        padding: 1rem 0;
        width: 8rem;
        font-size: 3rem;
        top: .5rem;
        right: 1rem;
    }

    .editor__circle {
        width: 20.4rem;
        height: 20rem;
        border: .3rem solid #fff;
        font-size: 2.1rem;
        font-weight: bold;
    }

    /*footer web*/

    .main-footer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1.5rem;

    }

    .footer__title{
        font-size: 4.5rem;
    }

    .footer__txt{
        font-size: 3rem;
    }
  
}